@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --Gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: var(--Gradient-1);
  height: 100vh;
}
.hero_img_mobile {
  width: 100%;
}

.logo {
  padding: 30px 0px 30px 30px;
  width: 150px;
}
.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px 40px 30px;
}

.open_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
}
.pink {
  color: var(--Desaturated-Red);
}
.light {
  font-weight: 300;
}
.title {
  letter-spacing: 10px;
}
.comment {
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid var(--Desaturated-Red);
  border-radius: 20px;
  background-color: hsl(0, 100%, 98%);
}
input {
  outline: 0;
  border: none;
  margin-left: 25px;
  background-color: transparent;
  color: var(--Desaturated-Red);
}
input::placeholder {
  color: var(--Desaturated-Red);
  font-family: "Josefin Sans", sans-serif;
}
button {
  background-image: var(--Gradient-2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  width: 80px;
  height: 46px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px var(--Desaturated-Red);
}
button:hover {
  transform: scale(1.125, 1.125);
}
.btn_box {
  display: flex;
  align-items: center;
}

#error-msg {
  display: none;
  color: var(--Soft-Red);
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
}
#error_icon {
  display: none;
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .hero_img_desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url(./images/bg-pattern-desktop.svg);
  }
  .page {
    display: flex;
  }
  .hero_img_mobile {
    display: none;
  }
  .content {
    padding: 50px;
    width: 600px;
  }
  .open_text {
    font-size: 1.3rem;
  }
  .text_container {
    align-items: flex-start;
    padding-right: 150px;
    line-height: 1.3;
  }
  .comment {
    line-height: 2;
  }

  .open_text,
  .comment {
    text-align: left;
  }
  .form {
    background-color: transparent;
  }
}
